name: r3bdev-container

on:
  schedule:
    # trigger the workflow on the every sunday at 2 am UTC
    - cron: '0 2 * * 6'
  workflow_dispatch:

jobs:
  docker-build:
    strategy:
      fail-fast: false
      matrix:
        repo: 
          - 'r3bdev:fedora-latest'
          - 'r3bdev:fedora-stable'
          - 'r3bdev:fedora-latest-arm'
          - 'r3bdev:fedora-stable-arm'
        include:
          - repo: 'r3bdev:fedora-latest'
            container-folder: 'r3bdev/fedora-latest'
            build-repo: 'fedora'
            build-env: 'ubuntu-latest'
            root-version: '${{ vars.ROOT_LATEST_VERSION }}'
            fairsoft-version: 'latest'
          - repo: 'r3bdev:fedora-stable'
            container-folder: 'r3bdev/fedora-latest'
            build-repo: 'fedora'
            build-env: 'ubuntu-latest'
            root-version: '${{ vars.ROOT_LATEST_VERSION }}'
            fairsoft-version: 'stable'
          - repo: 'r3bdev:fedora-latest-arm'
            container-folder: 'r3bdev/fedora-latest'
            build-repo: 'arm64v8/fedora'
            build-env: 'ubuntu-24.04-arm'
            root-version: '${{ vars.ROOT_LATEST_VERSION }}'
            fairsoft-version: 'latest'
          - repo: 'r3bdev:fedora-stable-arm'
            container-folder: 'r3bdev/fedora-latest'
            build-repo: 'arm64v8/fedora'
            build-env: 'ubuntu-24.04-arm'
            root-version: '${{ vars.ROOT_LATEST_VERSION }}'
            fairsoft-version: 'stable'
    runs-on: ${{ matrix.build-env }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: 'true'

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: yanzhaowang
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          context: ${{ matrix.container-folder }}
          tags: yanzhaowang/${{ matrix.repo }}
          build-args: |
            BUILD_REPO=${{ matrix.build-repo }}
            THREAD_NUM=4
            FAIRSOFT_VERSION=${{ matrix.fairsoft-version }}
            ROOT_VERSION=${{ matrix.root-version }}
